/* HARINASANDRATRA Lahatra Fitiavana evaluation finale sayna d-clic tana */

/* General CSS */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contact,
a.contact {
    color: red;
    text-decoration: none;
}


.separator {
    clear: both;
}

/*********************/
/* Header and Footer */

/* Header */
li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

li a:hover {
    color: #98a5a5;
}

li a img {
    filter: invert(100%);
}

li a img:hover {
    filter: invert(50%);
}

section#header {
    background: #d35649;
    height: 75px;
}

#header .logo {
    padding: 0px 20px -5px 20px;
    margin: 10px 25px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header .logo .title a {
    font-size: 25px;
    margin: 0;
    color: white;
    text-decoration: none;
}

#header .logo p.title {
    margin: 0rem;
}

#header .logo .title a:hover {
    color: #98a5a5;

}

#header .header-nav {
    float: right;
    padding: 20px;
}

/* Footer */

#footer {
    background-color: #1f1f1f;
}

#footer-top {
    width: 60%;
    padding: auto;
}

#footer .social-media {
    width: 80%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#footer .social-media .line {
    width: 100%;
    height: 3px;
    background-color: grey;
}

#footer .social-media img {
    border: 2px grey solid;
    border-radius: 50%;
    filter: invert(100%);
    margin: 1px 0 0 0;
}

#footer .social-media img:hover {
    filter: invert(50%);
}

#footer .social-media .column {
    padding: 0;
    font-size: 14px;
    margin: 15px 0 0 0;
}

#footer .footer-bottom {
    margin: 50px 0 auto;
    color: white;
    text-align: center;
    padding: 50px
}

#footer .footer-bottom .title {
    font-size: 18px;
    font-weight: bold;
}

#footer .footer-bottom button {
    background: #444;
    width: 90px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    border: 0.5px white solid;
    color: white;
    font-weight: bold;
}

#footer .footer-bottom #form {
    background: #444;
    padding: 5px;
    margin: 0;
    border: 0.5px grey solid;
    border-right: 0;
    color: grey;
    text-align: center;
}

a.contact:hover {
    text-decoration: underline;
}

/* copyright */
#copyright {
    background-color: #444;
    line-height: 50px;
    height: 50px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

#copyright .content {
    width: 100%;
}

#copyright .content .copyright-text {
    float: right;
    color: white;
}

#copyright .content .social {
    float: left;
    height: 25px;
    line-height: 25px;
}

#copyright .content .social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#copyright .content .social ul li {
    padding: 10px 10px 20px 10px;
    color: white;
}

#copyright .content i:hover {
    color: #509bd7;
}

/* responsive header and footer */
@media (max-width:768px) {
    section#header {
        height: 130px;
    }

    #header .header-nav {
        display: block;
        float: none;
        margin: auto;
    }

    #header .logo {
        float: none;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #header .logo .title {
        font-size: 25px;
        margin: 10px;
        color: white;
    }

    #footer {
        display: none;
    }
}

/**************************/
/*     Main part         */

/* SUNNY DAY */

.sunny-day {
    margin: 50px 0 0 15px;
    padding: 25px;
    box-shadow: -3px -5px 15px rgba(68, 68, 68, 0.6);
    overflow: hidden;
}

.content {
    width: 90%;
    margin: auto;
    position: relative;
}

.sunny-day p.title {
    text-align: center;
    font-size: 25px;
    color: #d35649;
    margin-bottom: 2rem;
}

.sunny-day .left,
.sunny-day .right {
    width: 45%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(68, 68, 68, 0.6);
    border-radius: 4px;
    box-shadow: -1px -1px 5px rgba(68, 68, 68, 0.6);
    margin: 1rem 0;
}

.sunny-day .left {
    float: left;
}

.sunny-day .right {
    float: right;
}

.sunny-day span.info {
    font-weight: bold;
    color: #575a89;
}

.sunny-day .options {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 510;
}

.sunny-day .options img {
    filter: hue-rotate(100deg);
}

.sunny-day button {
    float: right;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    width: 90px;
    background: #509bd7;
    border: 0;
}

.sunny-day .apply {
    filter: invert(100%);
}

hr.separator-line {
    margin: 0;
    width: 100%;
    height: 10px;
    background-color: #444;
}

/* MAP */

.map {
    padding: 25px 0 15px 0;
}

.map .more-details {
    padding-left: 20px;
    width: 98%;
    height: 90px;
    line-height: 90px;
    float: right;
    margin: 25px 0;
    background: #eee;
    background: rgba(238, 238, 238, 0.3);
    letter-spacing: 0.6rem;
    font-size: 20px;
    font-weight: 510;
}

.map p.title {
    text-align: center;
    font-size: 20px;
    color: #d35649;
    margin: 30px 0 20px;
}

.map .iframe {
    width: 97%;
    margin: auto;
}

/* responsive body parts */
@media (max-width:768px) {
    hr.separator-line {
        display: none;
    }

    .sunny-day .left,
    .sunny-day .right {
        float: none;
        width: 90%;
        margin: 1rem auto;
        display: block;
    }
}