/* General CSS */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contact,
a.contact {
    color: red;
    text-decoration: none;
}


.separator {
    clear: both;
}

/* Header and Footer */
li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

li a:hover {
    color: #98a5a5;
}

li a img {
    filter: invert(100%);
}

li a img:hover {
    filter: invert(50%);
}

section#header {
    background: #d35649;
    height: 75px;
}

#header .logo {
    padding: 0px 20px -5px 20px;
    margin: 10px 25px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header .logo .title a {
    font-size: 25px;
    margin: 0;
    color: white;
    text-decoration: none;
}

#header .logo .title p {
    margin: 0rem;
}

#header .logo .title a:hover {
    color: #98a5a5;

}

#header .header-nav {
    float: right;
    padding: 20px;
}



#footer {
    background-color: #1f1f1f;
}

#footer-top {
    width: 60%;
    padding: auto;
}

#footer .social-media {
    width: 80%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

#footer .social-media .line {
    width: 100%;
    height: 3px;
    background-color: grey;
}

#footer .social-media img {
    border: 2px grey solid;
    border-radius: 50%;
    filter: invert(100%);
    margin: 6px 0 0 0;
}

#footer .social-media img:hover {
    filter: invert(50%);
}

#footer .social-media .column {
    padding: 0;
    font-size: 14px;
    margin: 15px 0 0 0;
}

#footer .footer-bottom {
    margin: 50px 0 auto;
    color: white;
    text-align: center;
    padding: 50px
}

#footer .footer-bottom .title {
    font-size: 18px;
    font-weight: bold;
}

#footer .footer-bottom button {
    background: #444;
    width: 90px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    border: 0.5px white solid;
    color: white;
    font-weight: bold;
}

#footer .footer-bottom #form {
    background: #444;
    padding: 5px;
    margin: 0;
    border: 0.5px grey solid;
    border-right: 0;
    color: grey;
    text-align: center;
}

a.contact:hover {
    text-decoration: underline;
}

#copyright {
    background-color: #444;
    line-height: 50px;
    height: 50px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

#copyright .content .copyright-text {
    float: right;
    color: white;
}

#copyright .content .social {
    float: left;
    height: 25px;
    line-height: 25px;
}

#copyright .content .social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#copyright .content .social ul li {
    padding: 10px 10px 20px 10px;
    color: white;
}



#copyright .content img {
    filter: invert(100%);
    padding: 0 auto;
    margin: 0;
}

#copyright .content img:hover {
    filter: invert(90%);
}

@media (max-width:768px) {
    section#header {
        height: 130px;
    }

    #header .header-nav {
        display: block;
        float: none;
        margin: auto;
    }

    #header .logo {
        float: none;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #header .logo .title {
        font-size: 25px;
        margin: 10px;
        color: white;
    }

    #footer {
        display: none;
    }
}

/***************************/
/*       Main part        */


/* filter */

.filter {
    margin: 30px 0;
    padding: 20px;
    background: #eee;
}


.filter .title {
    color: #98a5a5;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.filter .subtitle {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.filter .filter-selectors{
margin: auto;
width: 80%;
}

.filter .filter-selectors .row{
    justify-content: center;
}
    

.filter .col{
    width: 140px;
    margin:0;
}

.input-icone{
    font-size:14px;
    margin: auto;
    width:100px;
    display: flex;
    align-items: center;
    position: relative;
}

.input-icone input{
    width:100px;
    border-radius:2px;
}

.input-icone i{
    right: 5px;
    position:absolute;
}

.filter .filter-selectors .button{
    color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 60px;
}

.filter .filter-selectors .button .input-icone i{
    left:0;
    margin: 10px;
}

.btn .yellow{
    padding:0;
}

input[type=button]{
    border-radius: 7px;
}

.filter .filter-selectors .button .yellow{
    width: 120px;
    background: rgb(219, 187, 5);
    color: white;
    text-align: right;

}

.filter .filter-selectors .btn-yellow{
    width:200px;
}
/* result found */
section.result-found {
    padding: 20px;
    margin: auto;
}

.result-found .col {
    background: #d35649;
    margin:5px;
    padding: 10px;

}

.result-found .title {
    font-size: 20px;
    color: #98a5a5;
    text-align: center;
}

@media (max-width:768px) {
    .result-found .title {
        display: none;
    }

    section.row{
        display: block;
    }

    .result-found .col{
        width: 90%;
        margin:25px auto;
        display: block;
    }
}